{{ define "main" }}
<main class="main single" role="main">
	<article class="post">

		<header class="post__header">
			<!-- タイトル -->
			<h1 class="post__title">{{ .Title }}{{ with .File }} - {{ .BaseFileName }}{{ end }}</h1>

			<!-- メタタグ -->
			{{ with partial "post_meta.html" . -}}
			<div class="post__meta meta">{{ . }}</div>
			{{- end }}

			{{ with .File }}
				{{ $id := .BaseFileName }}
				<video
					src="https://cc3001.dmm.co.jp/litevideo/freepv/{{ substr $id 0 1 }}/{{ substr $id 0 3 }}/{{ $id }}/{{ $id }}_mhb_w.mp4"
					poster="{{ $.Params.featured_image }}"
					width="100%"
					controls
				></video>
			{{ end }}

		</header>

		{{- partial "post_toc.html" . -}}

		{{- partial "dmm/dmm_button.html" . -}}


		<div class="content post__content clearfix">
			{{ .Content }}
		</div>

		<div>
			{{- partial "dmm/dmm.html" . -}}
			{{- partial "dmm/dmm_button.html" . -}}
		</div>

		<h2>動画ID</h2>
		{{ with .File }}{{ .BaseFileName }}{{ end }}

		{{- if .Params.tags }}
		<footer class="post__footer">
			{{ partial "post_tags.html" . }}
		</footer>
		{{- end }}

	</article>
</main>

{{ partial "pager.html" . }}
{{ partial "comments.html" . }}
{{ end }}