{{ with .File }}
{{ with .BaseFileName}}
<h2>無料サンプル動画 Free {{ emojify ":exclamation:" }}{{ emojify ":exclamation:" }}</h2>
<span>{{ emojify ":point_down:" }} 無料動画を観るには下の動画をクリック {{ emojify ":point_down:" }}</span>
<div
  class="iframe_container"
  style="position:relative; width: 100%; height: 0; padding-bottom: 72%;">
  <iframe
    style="position:absolute; top:0; left:0; width:100%; height:100%; border-radius: 2px;"
    src="https://www.dmm.co.jp/litevideo/-/part/=/cid={{ . }}/size=476_306/"
    scrolling="no" frameborder="0" allowfullscreen></iframe>
</div>

<h2>動画を全編見るならDMMから {{ emojify ":fire:" }}</h2>
<div style="margin:0;padding:5px;font-size:14px;word-break: break-all; text-align: center;">
  <a
    href="https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fvideoc%2F-%2Fdetail%2F%3D%2Fcid%3D{{ . }}%2F&af_id=javwave-001&ch=toolbar&ch_id=package_text_large"
    rel="nofollow"
    target="_blank"
  >
    <img
      src="https://pics.dmm.co.jp/digital/amateur/{{ . }}/{{ . }}jp.jpg"
      alt="ゆい"
    />
  </a>
</div>

<div class="button">
  <a
    href="https://al.dmm.co.jp/?lurl=https%3A%2F%2Fwww.dmm.co.jp%2Fdigital%2Fvideoc%2F-%2Fdetail%2F%3D%2Fcid%3D{{ . }}%2F&af_id=javwave-001&ch=toolbar&ch_id=package_text_large"
    rel="nofollow"
    target="_blank"
  >
    全編視聴はこちらから
  </a>
</div>
{{ end }}
{{ end }}