{{ with .File.BaseFileName }}
<div
  class="iframe_container"
  style="position:relative; width: 100%; height: 0; padding-bottom: 72%; margin-bottom: 12px;">
  <iframe
    style="position:absolute; top:0; left:0; width:100%; height:100%; border-radius: 2px;"
    src="https://www.dmm.co.jp/litevideo/-/part/=/cid={{ . }}/size=476_306/"
    scrolling="no" frameborder="0" allowfullscreen></iframe>
</div>

<div class="button">
  <a href="https://www.dmm.co.jp/digital/videoc/-/detail/=/cid={{ . }}/">
    全編視聴はこちらから
  </a>
</div>
{{ end }}